<h1><%= @list.name %></h1>

<h3>Movies in this list:</h3>
<ul>
  <% @list.movies.each do |movie| %>
    <li><%= movie.title %> - <%= movie.rating %></li>
  <% end %>
</ul>

<%= link_to 'Back to All Lists', lists_path %>
